[submodule "hardware/agg-kicad"]
	path = hardware/agg-kicad
	url = https://github.com/adamgreig/agg-kicad.git
[submodule "firmware/ChibiOS"]
	path = firmware/ChibiOS
	url = https://github.com/chibios/chibios.git
